
<nav class="navbar navbar-expand-lg bg-body-tertiary customer-bg-color">
    <div class="container-fluid">
      <a class="navbar-brand">Customer Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active">Customer Admin</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
              <img src="../../../assets//images//profile.jpg" width="30" height="30" class="rounded-circle">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click)="logout()">LogOut</a>
            </div>
          </li> 
        
        </ul>
       
      </div>
    </div>
</nav>